{% extends 'flatpages/default.html' %}


{% block title %}
Главная
{% endblock title  %}


{% block content %}

<style>
    body {}

</style>
<div align="center" style=" top: 1;
  left: 0;
  width: 100%;
  height: 91.4%;
  position:absolute; padding:50px 25px 0px 25px; background: linear-gradient(180deg,#64E8DE,#73005C); background-attachment: fixed;">
    <div style="position:absolute; text-align:center; width:35%;  " align="center">
        <p style="font-family: 'Rubik One', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(180deg,#64E8DE,#73005C);
  display: table;
  margin-left: 65%;
  margin-top: 5%;
  color: white;
  width: 700px;

  border-radius: 35px;
  mix-blend-mode: multiply;
  padding: 5px 110px;">Добро пожаловать <br>на Доску объявлений</p>
    </div>
    <img  width="80%" height="90%" style="box-shadow: 0 0 20px 2px #F00B51" src="https://i.pinimg.com/originals/21/e4/ba/21e4ba1233c60ccd3acca1205cdebe49.jpg" class="rounded-4">
</div>


{% endblock content %}