{% extends 'flatpages/default.html' %}
{% block title %}
lalala
{% endblock title  %}

{% block content %}
    <h1 align="left" style="color: #333333"><b>Введён некорректный код</b></h1>
    <hr>


    <div align="center" class="form-group" style="margin-bottom: 25px">
        <br>
        <h2>К сожалению, введённый Вами код не подходит.</h2>
        <br>
        <h4>Для повторного ввода кода повторно пройдите по полученной ссылке из письма.</h4>
        <br>
        <br>
        <hr>
    </div>


{% endblock content %}